@charset "utf-8";

/* Tags */

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.25em;
	line-height: 1.6em;
}

a {
	text-decoration: none;
}

h1 {
	padding: 15px;
	display: inline-block;
	height: 40px;
}

h1 img {
	height: 28px;
}

nav {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 100%;
	background-color: #111;
	border-radius: 0 0 30px 30px;
	box-shadow: 0 10px 50px #000;  
}

h2 {
	font-size: 2.5em;
	line-height: 1.1em;
	padding-bottom: 18px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

header {
	background-color: #111;
	position: sticky;
	top: 0;
	width: 100%;
	height: 70px;
	z-index: 2;
}

footer {
	padding: 70px 5%;
	font-size: .7em;
	line-height: 1.7em;
	background: #111;
}

/* IDs */


#menu {
	margin-top: -600px;
	transition: 0.3s;
}

#menu-icon-open, #menu-icon-close {
	position: absolute;
	right: 5%;
	top: 15px;
	font-size: 1.5em;
	cursor: pointer;
	color: #b1b1b1;
}

#menu-icon-open {
	display: block;
}

#menu-icon-close {
	display: none;
	border-color: #666;
	border-radius: 5px;
}

#nav-menu {
	text-align: center;
	padding: 0;
	display: block;
	padding: 60px 0 15px;
}

#nav-menu li {
	list-style: none;
	background-color: #353535;
	margin: 10px 5%;
	border-radius: 15px;
}

#nav-menu li:hover {
	background-color: #836FFF;
	color: #000;
}

#hero {
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%) bottom, url("https://nine32.com/dev/nextwave/assets/images/hero.png") no-repeat fixed center;
	background-size: cover;
	height: 100vh;
	position: relative;
}

#hero img {
	width: 100%;
	position: absolute;
	bottom: 50%;
	left: -24%;
	rotate: 270deg;
	z-index: 1;
}

#keypoints {
	background: #211951;
	background: linear-gradient(35deg, #211951 0%, #836FFF 50%, #15F5BA 100%);
	padding: 5% 0;
}

#keypoints div {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
	color: #29394d;
	padding: 2%;
	margin: 2%;
}


#keypoints div:hover {
	box-shadow: 0px 0px 30px #00000096;
}

#keypoints p {
	padding-bottom: 55px;
}

#gallery {
	height: 100vh;
	background: #02070d url("https://nine32.com/dev/nextwave/assets/images/show.jpg") no-repeat fixed center;
}

#exhibitandsponsor-wrapper {
	padding: 0 0 30px 0;
}

#exhibitor, #sponsor {
	margin: 2%;
}

#exhibitandsponsor-wrapper h2, #exhibitandsponsor-wrapper p {
	padding: 30px 40px 0;
}

#exhibitandsponsor-wrapper img {
	border-radius: 12px;
}

#colourband {
	background: linear-gradient(90deg, #211951 0%, #836FFF 50%, #15F5BA 100%);
	height: 10px;
}

#footerlinks ul {
	list-style-type: none;
	overflow: hidden;
}

#footerlinks a {
	text-decoration: none;
	color: #9b9b9b;
}

#footerlinks a:hover {
	color: #15f5ba;
	text-decoration: underline;
}

#copyright {
	padding-top: 20px;
	color: #fff;
}

/* Classes */

.content {
	padding: 30px;
}

.calltoactionbutton {
	display: block;
	margin: 30px 0;
	border-radius: 38px;
	border: #000 1px solid;
	height: 76px;
	line-height: 76px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	text-align: center;
	text-shadow: none;
	background: #fff;
}

.calltoactionbutton:hover {
	color: #fff;
	background: linear-gradient(50deg, #211951 0%, #836FFF 50%, #15F5BA 100%);
}
  
.nav-link {
	font-size: 1.2em;
	color: #836FFF;
	width: 100%;
	display: inline-block;
	padding: 15px 0;
}
  
a.nav-link:hover {
	color: #000;
	box-shadow: 0 0 10px #836FFF;
	border-radius: 15px;
	transition: 0.3s;
}

.links {
	width: 100%;
}


/* Additional media queries for larger displays */
/* desktops*/
@media screen and (min-width: 800px) {
	#hero img {
		width: 50%;
		bottom: 20%;
		left: 3%;
		rotate: 0deg;
	}
}

/* desktops*/
@media screen and (min-width: 1025px) {
	h1 {
		padding: 15px 30px;
	}

	nav {
		background-color:unset;
		border-radius: unset;
		box-shadow: none;
		position: absolute;
		top: 0;
		right: 0;
		width: auto;
	}

	#menu-icon-open {
		display: none;
	}

	#menu {
		margin-top: 0;		
		height: 70px;
		vertical-align: middle;
		padding-right: 40px;
	}

	#nav-menu {
		padding: 0;
		text-align: unset;
	}

	#nav-menu li {
		background-color: unset;
		margin: 0;
		border-radius: 0;
		padding: 0;
		display: inline-block;
		transition: 0.3s;
	}

	#keypoints div {
		width: 26%;
		display: inline-block;
	}

	#keypoints div:nth-child(2) {
		margin: 2% 0;
	}

	#info1 {
		display: flex;
		align-items: center;
		justify-content: right;
	}

	#info1 div {
		width: 47%;
		display: inline-block;
	}

	#info1 div:nth-child(2) {
		float: right;
	}
	
	#exhibitandsponsor-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#exhibitandsponsor-wrapper div {
		width: 50%;
	}

	#exhibitor {
		margin: 2% 1% 2% 2%;
	}

	#sponsor {
		margin: 2% 2% 2% 1%;
	}

	#footerlinks {
		background: url("https://nine32.com/dev/nextwave/assets/images/logo.svg") right no-repeat;
		background-size: 50%;
	}

	.content {
		padding: 30px 50px 0;
	}

	.nav-link {
		font-size: 1em;
		width: 100%;
		display: inline-block;
		padding: 15px;
	}
	  
	a.nav-link:hover {
		color: #000;
		box-shadow: unset;
		border-radius: 0;
		transition: 0.3s;
	}
}
