@charset "UTF-8";

/* Custom properties */

html {
    --signature-color: #00FFB1;
    --background-color: #0b0c11;
}

/* Tags */

html {
    scroll-behavior: smooth;
}

h2 {
    font-family: Consolas;
    font-weight: normal;
    font-size: 2em;
    background: -webkit-linear-gradient(300deg, var(--signature-color), #7802ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 30px;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: var(--background-color);
    /*background: radial-gradient(at -500% 500%, var(--signature-color), black);*/
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    border-top: var(--signature-color) 1px solid;
    z-index: 999;
}

main {
    position: relative;
    z-index: 10;
    background-color: var(--background-color);
}

footer {
    position: relative;
    display: inline-block;
    font-family: consolas;
    font-size: 0.9em;
    line-height: 2;
    color: #fff;
    padding: 135px 0 70px;
    margin-left: 10%;
    border-left: var(--signature-color) 2px solid;
    background-color: var(--background-color);
    width: 85%;
}

footer a {
    text-decoration: none;
    color: #fff;

}

footer a:hover {
    color: var(--signature-color);
}

footer a svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

footer a svg:hover {
    fill: var(--signature-color);
}

::selection {
    background: var(--signature-color);
    color: #000;
}

/* IDs */

#header-logo {
    width: 20%;
    max-width: 150px;
    margin-left: 5%;
}

#header-logo img:hover {
    filter: drop-shadow(0px 0px 10px var(--signature-color));
}

#introduction {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
}

#greeting-wrapper {
    padding: 35% 0 0 10%;
    display: block;
    max-width: 70%;
    font-family: Consolas;
    color: #fff;
    margin-left: -8px;
    position: fixed;
}

#circle-icon {
    width: 20px;
    height: 20px;
    fill: #fff;
    filter: drop-shadow(0px 0px 10px var(--signature-color)) drop-shadow(0px 0px 10px var(--signature-color));
}

#projects, #about {
    background-color: #161b22;
    border-radius: 36px;
    border: #273344 1px solid;
    margin: 0 3%;
    height: 1000px;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 35px var(--background-color);
}

#footer-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 0 5%;
}

#linkedin-logo, #open-source-message {
    display: block;
    margin-left: 5%;
}

#open-source-message a {
    border-bottom: var(--signature-color) 1px solid;;
}

#copyright {
    display: block;
    padding-top: 30px;
    margin: 0 5%;
}

/* Classes */

.greeting {
    font-size: 1.5em;
    line-height: 1.6em;
}

.greeting a {
    font-weight: bold;
    color: #fff;
    padding: 2px;
    margin: -2px;
    border-bottom: var(--signature-color) 2px solid;
}

.greeting a:hover {
    background-color: var(--signature-color);
    color: #000;
    transition: 0.5s;
}

.greeting-lower {
    margin-left: 10px;
    padding-left: 18px;
    display: block;
    padding-bottom: 25%;
    border-left: 2px var(--signature-color) solid;
}

.highlighted-text {
    font-size: 3em;
    margin: 20px 0 0 10px;
    padding-left: 18px;
    display: block;
    background: -webkit-linear-gradient(300deg, var(--signature-color), #7802ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-left: 2px var(--signature-color) solid;
}

span.highlighted-text-letter:hover {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s ease-in;
}

.spacer {
    margin-left: 10%;
    border-left: 2px var(--signature-color) solid;
    height: 150px;
}
